<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
  <meta http-equiv="Expires" content="0" />
	<title>Bibliomap{% if entity is defined %} - {{ entity }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" href="/public/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/public/css/L.Icon.Pulse.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

  <a href="#" id="open-side" class="open-side">
    <i class="material-icons">keyboard_arrow_right</i>
  </a>  
  
  <!-- Map -->
  <div id="bibliomap-canvas"></div>
  <div id="outside-map" class="outside-map"></div>

  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="row top-side">
        <div class="col s3">
          <img src="/themes/{{ entity }}/images/logo.svg" alt="Logo {{ entity|upper }}" width="66px">
        </div>
        <div class="col s8">
          <p>
            <strong>
            {% block legendDescription %}{% endblock %}
            </strong>
          </p>
        </div>
        <div class="col s1">
          <a href="#">
            <i class="material-icons close-side" id="close-side">close</i>
          </a>
        </div>
      </div>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <ul class="collection bibliomap-collection">
        <li class="collection-item center-align"> 
          {% block counter %}{% endblock %}
        </li>
      </ul>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <ul class="collection bibliomap-collection" id="legend"></ul>
    </li>
    <li><div class="divider"></div></li>
    <li class="center-align">
      <div class="chip" id="Timer">0j 0h 0m 0s</div>         
    </li>
  </ul>

  <div id="brand" class="brand">
    <div class="main"><a href="https://github.com/ezpaarse-project/bibliomap">Bibliomap</a> {{ version }}</div>
    <div class="sub">Connecté à <a href="http://ezpaarse.couperin.org" target="_blank">ezPAARSE</a></div>
  </div>
  
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li id="center"><a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Recentrer sur la France"><i class="material-icons">gps_fixed</i></a></li>
      <li><a class="btn-floating grey darken-3 tooltipped modal-trigger" href="#modal-settings" data-position="left" data-tooltip="Paramètres"><i class="material-icons">settings</i></a></li>    </ul>
  </div>
    <div id="modal-settings" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Paramètres :</h4>
      <div class="divider"></div>
      <div class="row menu-option">
        <div class="col s2">
          <div class="switch">
          <label>
            Off
            <input value="off" id="outside-map-switch" type="checkbox" checked autocomplete="off">
            <span class="lever"></span>
            On
          </label>
          </div>
        </div>
        <div class="col s10">
          Afficher la minimap
        </div>
      </div>
      <div class="divider"></div>
      <h5>Institus à afficher :</h5>
      <div id="disabled" class="row menu-option"></div>
      <div class="row menu-option">
        <div class="col s12">
          <a id="institute-all" class="waves-effect waves-light btn btn-small">Tout cocher</a>
          <a id="institute-none" class="waves-effect waves-light btn btn-small">Tout décocher</a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row menu-option">
        <div class="col s2">
          <div class="switch">
          <label>
            Off
            <input value="off" id="show-titles" type="checkbox" autocomplete="off">
            <span class="lever"></span>
            On
          </label>
          </div>
        </div>
        <div class="col s10">
          Afficher les titres des articles
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
  </div>
      
  <div id="description" class="modal modal-fixed-footer">
    <div class="modal-content description">
      {% block description %}{% endblock %}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="/public/leaflet/leaflet.js"></script>
  <script type="text/javascript" src="/themes/{{ entity }}/js/legend.js"></script>
  <script type="text/javascript" src="/public/js/init_composant.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/public/js/L.Icon.Pulse.js"></script>
  <script type="text/javascript" src="/themes/{{ entity }}/js/filter.js"></script> 
  <script type="text/javascript" src="/public/js/bubble.js"></script> 

</body>
</html>